#footer__container {
  width: 100%;
  background-color: #5252d4;
  font-family: "Quicksand", sans-serif;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__icons {
  margin: 10px;
}
.footer__icons li {
  display: inline-block;
  margin: 20px;
  font-size: 1.7rem;
}
.footer__links li {
  display: inline-block;
  margin: 20px;
  font-size: 1.3rem;
}
.footer__links li a {
  font-size: var(--header-txt-fs);
  transition: var(--transition);
  color: #fff;
}
.footer__links li a:hover {
  color: var(--header-txt-color);
}
.footer__icons i {
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.footer__icons i:hover {
  scale: 1.1;
}

.fab.fa-facebook {
  color: #1877f2;
}
.fab.fa-linkedin {
  color: #0077b5;
}
.fab.fa-twitter {
  color: #1da1f2;
}
.fab.fa-instagram {
  color: #bc2a8d;
}
